<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
    colors="true"
    processIsolation="false"
    requireCoverageMetadata="true"
    stopOnFailure="false"
>

    <testsuites>
        <testsuite name="Overseer Unit Tests">
            <directory>test/unit/</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
    </php>

</phpunit>